#modelo-3d-wolf{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#modelo-3d-femura{
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(53, 53, 53);
}

.descricao{
    width: calc(90% - 0.4px);
    border: 2px solid #00ad50;
    border-top: 20px solid #00ad50;
    margin: 0 auto;
    padding: 5px 10px;
}

@media screen and (max-width: 768px){
    #modelo-3d-femura{
        width: 100%;
    }

    .descricao{
        width: 100%;
    }
}